.small-section{
    padding: 1rem 1.5rem;
}

.med-section{
    padding: 1rem 1.5rem;
}

.mb-1{
    margin-bottom: 1em;
}

.mr-1{
    margin-right: 1.5em;
}

.shadow-box{
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}

.dropdown-content {
    max-height: 20em;
    overflow: auto;
}